.box1 {
    margin: auto;
    text-align: center;
    margin: 5px;
    padding-top: 2em;
    padding-bottom: 0.2em;
}

.box2 {
font-size: 25px;
width: 100px;

}

#content:hover {
    background-color: brown;
    cursor: pointer;

}

.box2 {
    background-color:yellowgreen;
    cursor: pointer;

}